@if (User.IsInRole("Administrator") && User.IsInRole("Moderator"))
{
    <a href="@Url.Action("Index", new { id = Model.Id })" class="btn btn-default">
        Back to List
    </a>
}
else
{
    <a href="@Url.Action("Index", "Home", new { id = Model.Id })" class="btn btn-default">
        Back to Home
    </a>
}